.add-form {
  display: flex;
  align-items: center;
  justify-content: baseline;
  outline: none;
  border: none;
  .add-inpt {
  
    background-color: #f1f1f1;
    line-height: 10px;
    margin-left: 30px;
 
    height: 40px;
    width: 400px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 0 0 20px 2px #1a1a3230;
    transition: all 0.5s;
    &:focus {
      
      box-shadow: 0 0 20px 2px #c1e738d8;
    }
  }

  .teams-add {
    
    font-size: 60px;
    margin-left: 25px;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    line-height: 45px;
    transition: all 0.5s;
    box-shadow: 0 0 20px 2px #1a1a3230;
    &:hover {
      transform: rotate(90deg);
      background-color: #c6f221;
    }
  }
}

