* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

@media (min-width: 1200px) {
  .navItems {
    margin-top: 40px;
    .navItem {
      font-size: 15px;
      width: 65%;
      margin: 10px 0 10px 20px;
    }
  }
  .teams-eml-text {
    font-size: 30px;
  }
  .teams-container {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
  }
  .add-employee {
    font-size: 15px;
  }
  .employee-info-container {
    display: flex;
  }
  .stroke {
    font-size: 12px;
  }
  .employee-left {
    width: 70%;
    margin: auto;
  }
  .employee-works-info-container {
    font-size: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    .info-wrap {
      &:first-child {
        border-radius: 30px 0 0 30px;
      }

      &:last-child {
        border-radius: 0 30px 30px 0;
      }
    }
  }
  .employee-card {
    font-size: 20px;
  }
  .form-vrap {
    align-items: center;
    .fomrName {
      font-size: 14px;
    }
    input {
      font-size: 12px;
      width: 60%;
    }
  }
  .settings {
    width: 40px;
    height: 40px;
    margin: auto;
    .dots {
      font-size: 15px;
    }
  }
  .add-form {
    align-items: center;
    .add-inpt {
      width: 50%;
    }
  }
  .add-form {
    align-items: center;
    .add-inpt {
      font-size: 15px;
      width: 50%;
    }
  }
  .leader {
    font-size: 14px;
  }
}
@media (min-width: 960px) and (max-width: 1200px) {
  .navItems {
    margin-top: 40px;
    .navItem {
      font-size: 13px;
      width: 75%;
      margin: 10px 0 10px 20px;
    }
  }
  .teams-eml-text {
    font-size: 25px;
  }
  .teams-container {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
  }
  .add-employee {
    font-size: 11px;
  }

  .stroke {
    font-size: 11px;
  }
  .employee-left {
    width: 70%;
    margin: auto;
  }
  .employee-works-info-container {
    font-size: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    .info-wrap {
      &:first-child {
        border-radius: 30px 0 0 30px;
      }

      &:last-child {
        border-radius: 0 30px 30px 0;
      }
    }
  }
  .employee-card {
    font-size: 19px;
  }
  .form-vrap {
    align-items: center;
    .fomrName {
      font-size: 12px;
    }
    input {
      font-size: 11px;
      width: 60%;
    }
  }
  .settings {
    width: 40px;
    height: 40px;
    margin: auto;
    .dots {
      font-size: 15px;
    }
  }
  .add-form {
    align-items: center;
    .add-inpt {
      width: 50%;
    }
  }
  .leader {
    font-size: 12px;
  }
}

@media (min-width: 890px) and (max-width: 960px) {
  .navItems {
    margin-top: 40px;
    .navItem {
      font-size: 11px;
      width: 75%;
      margin: 10px 0 10px 20px;
    }
  }
  .teams-eml-text {
    font-size: 20px;
  }
  .teams-container {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
  }
  .add-employee {
    font-size: 9px;
  }
  .stroke {
    font-size: 10px;
  }
  .employee-left {
    width: 70%;
    margin: auto;
  }
  .employee-works-info-container {
    font-size: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    .info-wrap {
      &:first-child {
        border-radius: 30px 0 0 30px;
      }

      &:last-child {
        border-radius: 0 30px 30px 0;
      }
    }
  }
  .employee-card {
    font-size: 18px;
  }
  .form-vrap {
    align-items: center;
    .fomrName {
      font-size: 10px;
    }
    input {
      font-size: 8px;
      width: 60%;
    }
  }
  .settings {
    width: 35px;
    height: 35px;
    margin: auto;
    .dots {
      font-size: 14px;
    }
  }
  .add-form {
    .add-inpt {
      font-size: 13px;
      width: 60%;
    }
  }
  .leader {
    font-size: 11px;
  }
}
@media (min-width: 640px) and (max-width: 890px) {
  .navItems {
    margin-top: 40px;
    .navItem {
      font-size: 10px;
      width: 75%;
      margin: 10px 0 10px 10px;
    }
  }
  .teams-eml-text {
    font-size: 20px;
  }
  .teams-container {
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
  }
  .add-employee {
    font-size: 10px;
  }
  .employee-info-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .stroke {
    font-size: 10px;
  }
  .employee-left {
    width: 100%;
    margin: auto;
  }
  .employee-works-info-container {
    grid-template-columns: 1fr;
    font-size: 15px;
    .info-wrap {
      &:first-child {
        border-radius: 30px 30px 0 0;
      }

      &:last-child {
        border-radius: 0 0 30px 30px;
      }
    }
  }
  .employee-card {
    font-size: 16px;
  }
  .form-vrap {
    align-items: center;
    .fomrName {
      font-size: 10px;
    }
    input {
      font-size: 9px;
      width: 60%;
    }
  }
  .add-form {
    margin-top: 15px;
    align-items: center;
    .add-inpt {
      width: 70%;
      font-size: 15px;
    }
  }
  .teams-header {
    flex-direction: column;
  }
  .settings {
    margin: auto;
    width: 30px;
    height: 30px;
    margin: auto 20px;
    .dots {
      font-size: 12px;
    }
  }
  .leader {
    font-size: 12px;
  }
}
@media (min-width: 450px) and (max-width: 640px) {
  .navItems {
    margin-top: 10px;
    .navItem {
      font-size: 7px;
      width: 95%;
      margin: 7px 0;
    }
  }
  .teams-eml-text {
    font-size: 13px;
  }
  .teams-container {
    grid-template-columns: 1fr;
    margin-top: 80px;
  }
  .add-employee {
    font-size: 15px;
  }
  .employee-info-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .stroke {
    font-size: 9px;
  }
  .employee-left {
    width: 100%;
    margin: auto;
  }
  .employee-works-info-container {
    grid-template-columns: 1fr;
    font-size: 14px;
    .info-wrap {
      &:first-child {
        border-radius: 30px 30px 0 0;
      }

      &:last-child {
        border-radius: 0 0 30px 30px;
      }
    }
  }
  .employee-card {
    font-size: 13px;
  }
  .circle {
    display: none;
  }
  .form-vrap {
    flex-direction: column;
    align-items: flex-start;

    .fomrName {
      font-size: 14px;
      margin-bottom: 5px;
    }
    input {
      font-size: 12px;
      width: 90%;
      margin-bottom: 15px;
    }
  }
  .head {
    .settings {
      width: 25px;
      height: 25px;
      margin: auto 10px;
      .dots {
        font-size: 12px;
      }
    }
  }
  .add-form {
    margin-top: 15px;
    .add-inpt {
      width: 70%;
      font-size: 13px;
    }
  }
  .teams-header {
    flex-direction: column;
  }
  .leader {
    font-size: 15px;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  .employee-info-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navItems {
    margin-top: 10px;
    .navItem {
      font-size: 6px;
      width: 95%;
      margin: 7px 0;
    }
  }
  .teams-eml-text {
    font-size: 9px;
    margin-top: 10px;
  }
  .teams-container {
    grid-template-columns: 1fr;
    margin-top: 60px;
  }
  .employee-works-info-container {
    grid-template-columns: 1fr;
    font-size: 9px;
    .info-wrap {
      &:first-child {
        border-radius: 30px 30px 0 0;
      }

      &:last-child {
        border-radius: 0 0 30px 30px;
      }
    }
  }
  .add-employee {
    font-size: 10px;
  }
  .employee-card {
    font-size: 10px;
  }
  .circle {
    display: none;
  }
  .form-vrap {
    flex-direction: column;
    align-items: flex-start;
    .fomrName {
      margin-bottom: 5px;
      font-size: 12px;
    }
    input {
      font-size: 10px;
      width: 90%;
      margin-bottom: 10px;
    }
  }
  .head {
    .settings {
      width: 20px;
      height: 20px;
      margin: auto 5px;
      .dots {
        font-size: 10px;
      }
    }
  }
  .add-form {
    margin-top: 15px;
    .add-inpt {
      width: 70%;
      font-size: 8px;
    }
  }

  .teams-header {
    flex-direction: column;
  }
  .leader {
    font-size: 10px;
  }
}
